/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }

#page-wrap { width: 800px; margin: 0 auto; }

textarea, input { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
.form-control {border: 0;}
.poscode {width: 250px;}
table { border-collapse: collapse; }
table td, table th { border: 1px solid #eaedee;padding: 5px; }

#header { height: 15px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

#address { width: 250px; height: 100px; float: left; }
#customer { overflow: hidden; }
.info td,.top td{border: none;}

#logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#customer-title {float: left; }
#customer-name { font-size: 20px; font-weight: bold; }

#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right; border: 1px solid #eaedee; }
#meta td.meta-head { text-align: left; background: #54A0E7;color:#FFFFFD;}
#meta td textarea { width: 100%; height: 30px; text-align: right; }
.form-date {text-align: right;}
.price, .gst, .price_gst{background-image: url(grey.png);}
.total-gst, .total-price, .total-price_gst {background-color:#FBFF9E;}
.email {width: 150%;}
#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid #eaedee; }
#items th { background: #54A0E7; border: 0px;}
#items th { color:#FFFFFD; }
#items textarea { width: 80px; height: 50px; }
#items select { width:100%; border: 0px;padding: 5px;font: 14px Georgia, Serif;font-size: 13px;color: #3c3c3c;border-radius: 0px; }
#items tr.item-row td { vertical-align: top; }
#items td.description { width: 300px; }
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { text-align: right; font-weight: bold;}
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}

/* textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; } */

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }